%section
  %ul
    %dl
      - @stages.each do |stage|
        %li
          %dt
            %time{:datetime=>stage.start_time.to_date}
              =l stage.start_time.to_date,:format => :long
          %dd=link_to stage.name, stage_path(stage.id)

